/***********************
************* General
***********************/
html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/***********************
************* mainpage
***********************/

header {
  padding: 1rem;

  background: cornsilk;
  text-align: right;
}

.page-title {
  text-align: center;
}

/***********************
************* admin
***********************/

/* logged-out */
.header-login {
  margin-top: 2rem;
  padding: 1rem 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  text-align: center;
}

.log-in {
  padding: 1rem 2rem;
}

.log-in__title {
  margin-top: 0;
}

.log-in input {
  display: block;
  width: 40%;
  min-width: 320px;
  margin: 0.5rem auto;
  padding: 0.5rem;

  font-size: 1.2rem;
}

/* logged-in */
.header-admin {
  position: relative;

  text-align: center;
}

.header__greetings {
  font-weight: bold;
}

.header__greetings::after {
  content: ' 님, 환영합니다.';
  font-weight: normal;
}

.header__logout {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

main {
  position: relative;
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

.data__title {
  text-align: center;
}

.data__upload-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: translateY(-50%);
}

.clusters {
  position: relative;
}

.cluster--name {
  text-align: center;
}

.cluster--button-show-hide {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: translateY(-50%);
}

.cluster__items {
  display: flex;
  justify-content: space-between;
}
